html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    color: darkgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: whitesmoke;
}

body::-webkit-scrollbar-thumb {
    background: gray;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    padding: 5px;
    text-align: center;
    margin: auto;
    color: whitesmoke;
    background-color: burlywood;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 20px 10px grey;
}

nav>ul {
    visibility: hidden;
    height: 0em;
    opacity: 0;
    list-style: none;
    transition: height 0.5s ease-in, opacity 0.5s linear 0.5s;
}

header:hover>nav>ul {
    visibility: visible;
    height: 5em;
    opacity: 1;
}

main {
    margin-top: 10%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

article {
    margin: 5%;
    margin-bottom: 10%;
}

article img {
    max-width: 10%;
    max-height: 10%;
    margin-right: 2em;
    transition: max-width 2s, max-height 2s;
}

table {
    width: 100%;
    color: whitesmoke;
    border-collapse: collapse;
    background-color: darkgray;
    border-radius: 10px;
}

th,
td {
    padding: 5px;
    text-align: center;
    width: 5em;
    height: 2em;

}

th {
    font-weight: 900;
}

thead {
    background-color: burlywood;
}

footer {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    padding: 1%;
    bottom: 0;
    background-color: burlywood;
}


footer img {
    width: 40px;
    height: 40px;
}

footer img:hover {
    animation-name: wiggle;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes wiggle {
    0% {
        transform: rotate(10deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}